# Based on https://github.com/japaric/rust-everywhere.

cache: cargo
language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly

addons:
  apt:
    packages:
      - cmake
      - g++
      - git
      - libc-dev
      - libgoogle-glog-dev
      - libsdl2-dev
      - ninja-build
      - build-essential
      - make
      - cmake
      - autoconf
      - automake
      - libtool
      - libx11-dev
      - libxext-dev

install:
  - bash ci/install.sh

script:
  - bash ci/script.sh

notifications:
  email:
    on_success: never
