# Copyright 2016 The Cartographer Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[package]
authors = ["Holger Rapp <hrapp@google.com>"]
name = "point_viewer"
version = "0.1.0"
edition = "2018"

[dependencies]
byteorder = "1.3.2"
cgmath = { version = "0.17.0", features = ["serde"] }
collision = { version = "0.20.1", features = ["serde"] }
crossbeam = "0.7.1"
error-chain = "0.12.1"
fnv = "1.0.6"
libc = "0.2.62"
lru = "0.1.15"
nalgebra = "0.19.0"
nav-types = "0.4.2"
num = "0.2.0"
num_cpus = "1.10.1"
num-integer = "0.1.41"
num-traits = "0.2.8"
pbr = "1.0.2"
protobuf = "2.8.0"
s2 = { git = "https://github.com/nnmm/rust-s2", branch = "serde", features = ["serde"] }
scoped-pool = "1.0.0"
serde = "1.0.101"
serde_derive = "1.0.101"
structopt = "0.2.18"
walkdir = "2.2.8"
rand = "0.7.2"

[dependencies.point_viewer_proto_rust]
path = "point_viewer_proto_rust"

[dev-dependencies]
lazy_static = "1.4.0"
tempdir = "0.3.7"

[workspace]
members = [
   "octree_web_viewer",
   "point_cloud_client",
   "point_cloud_test_lib",
   "point_viewer_grpc",
   "point_viewer_grpc_proto_rust",
   "point_viewer_proto_rust",
   "protobuf_provider",
   "quadtree",
   "sdl_viewer",
   "xray",
   "xray_proto_rust",
]
